.App {
  font-family: sans-serif;
  text-align: center;
}
.App > h1 {
  color: #34495e;
}
.container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.image-card {
    padding: 100px;
    border: 3px solid rgb(163, 0, 0);
    border-radius: 2px;
}

.image {
    width: 100;
}
.tags {
    text-align: center;
    padding: 20px 0px;
    margin: 0px 0px 10px 0px;
    background-color: rgb(1, 48, 150)
}

.tag{
  outline: none;
  border: none;
  color: #eee;
  margin: 0px 10px;
  background-color: transparent;
  cursor: pointer;

}
.active {
  font-weight: bold;
  border-bottom: 1px solid #eee;
}